@page
@model MercadoIgnis.Pages.ProyectosPersonales.DeleteModel

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Estas seguro que deseas borrar este elemento?</h3>
<div>
    <h4>ProyectoPersonal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoPersonal.TipoDeProyecto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProyectoPersonal.TipoDeProyecto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoPersonal.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProyectoPersonal.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoPersonal.FechaComienzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProyectoPersonal.FechaComienzo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoPersonal.FechaFinalizacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProyectoPersonal.FechaFinalizacion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProyectoPersonal.ID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
