@page
@model MercadoIgnis.Pages.ProyectosPersonales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>
<form>
    <p>
        <select asp-for="busquedaPorTipo" asp-items="Model.Tipo">
            <option value="">Todas</option>
        </select>
        Busqueda por fechas de comienzo mayores a: <input type="text" asp-for="FechadeComienzo" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoPersonal[0].Tipos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoPersonal[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoPersonal[0].FechaComienzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoPersonal[0].FechaFinalizacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProyectoPersonal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaComienzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalizacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
