@page
@model MercadoIgnis.Pages.EspecialidadesTecnico.IndexModel
@using MercadoIgnis.Areas.Identity.Data
@{
    ViewData["Title"] = "Especialidades";
}
@if((User.IsInRole(IdentityData.TecnicoRoleName)))
{
    <h1>Mis especialidades</h1>
    <p>
    <a asp-page="Create">Agregarme una nueva especialidad</a>
    </p>
}
@if((User.IsInRole(IdentityData.AdminRoleName)))
{
    <h1>Especialidades de los tecnicos</h1>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadesTecnicos[0].Tecnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadesTecnicos[0].Especialidad.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadesTecnicos[0].Especialidad.Nivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EspecialidadesTecnicos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnico.ApplicationUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Area)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
