@page "{id:int?}"
@model MercadoIgnis.Pages.ProyectosIgnis.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Proyectos Ignis</h1>

<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].FechaComienzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].FechaFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].Estado)
            </th>
            <th>
               Propietario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProyectoIgnis) {

        string selectedRow = "";
            if (item.ID == Model.ProyectoIgnisID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaComienzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.ProyectosIgnisClientes.Cliente.ApplicationUser.Name)
               
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Seleccionar</a> |
                <a asp-page="../Puestos/Create" asp-route-id="@item.ID">Agregar Puesto</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.PuestosProyecto != null)
{
    <h3>Puestos del Proyecto</h3>
    <table class="table">
        <tr>            
            <th>Especialidad</th>
            <th>Estado</th>
            <th>Tecnico Asignado</th>
            <th></th>
        </tr>

        @foreach (var item in Model.PuestosProyecto)
        {
            string selectedRow = "";
            if (item.ID == Model.PuestoID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Especialidad.Area
                </td>
                <td>
                    @item.Estado
                </td>
                <td>@if(item.Tecnico != null)
                    {
                      @item.Tecnico
                    }
                    else
                    {
                        <a> No asignado aún </a>
                    }
                    
                </td>
                <td>@if(item.TecnicosSugeridosPuesto != null)
                    {
                      @Html.ActionLink("Ver Tecnicos Sugeridos", "OnGetAsync",
                                  new { PuestoID = item.ID })
                    }
                    
                </td>
            </tr>
        }
    </table>
}
