@page "{id:int?}/{idPuesto:int?}/{accion:int?}"
@model MercadoIgnis.Pages.ProyectosIgnis.TecnicosSolicitudesModel
@using MercadoIgnis.Areas.Identity.Data
@{
    ViewData["Title"] = "Solicitudes";
}

<h1>Mis Solicitudes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].FechaComienzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].FechaFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoIgnis[0].Estado)
            </th>
            <th>
               Propietario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProyectoIgnis) {

        string selectedRow = "";
            if (item.ID == Model.ProyectoIgnisID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaComienzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.ProyectosIgnisClientes.Cliente.ApplicationUser.Name)
               
            </td>
            <td>
                <a asp-page="./TecnicosSolicitudes" asp-route-id="@item.ID">Ver Solicitudes</a> 
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.PuestosProyecto != null)
{
    <h3>Puestos del Proyecto</h3>
    <table class="table">
        <tr>            
            <th>Especialidad</th>
            <th>Estado</th>
            <th>Tecnico Asignado</th>
            <th></th>
        </tr>

        @foreach (var item in Model.PuestosProyecto)
        {
            
            string selectedRow = "";
            if (item.ID == Model.PuestoID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Especialidad.Area
                </td>
                <td>
                    @item.Estado
                </td>
                <td>@if(item.Tecnico != null)
                    {
                      @item.Tecnico.ApplicationUser.Name
                    }
                    else
                    {
                        <a> No asignado aún </a>
                    }
                    
                </td>
                
              @if(item.Estado.ToString() != "Ocupado" )
              {
                <td>
                    <a asp-page="./TecnicosSolicitudes" asp-route-idPuesto="@item.ID" asp-route-accion="1">Aceptar Solicitud</a> 
                </td>
                <td>
                       <a asp-page="./TecnicosSolicitudes" asp-route-idPuesto="@item.ID" asp-route-accion="0">Denegar Solicitud</a>                     
                </td>
              }
            </tr>
        }
    </table>
}
